muleapp/src/main/mule/muleappflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a689c9dc-446d-488d-b07d-7b2e4b1f2382" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleappflowFlow" doc:id="206bda23-9552-4ba8-b841-e3dcd323a42c" >
		<http:listener doc:name="Listener" doc:id="f84321eb-a899-4ce7-9c41-fa5f7de34744" config-ref="HTTP_Listener_config" path="/flow"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="57fac85f-1c3f-44f3-af5f-0b0e64f63f13" />
	</flow>
</mule>
